.wrap {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100vh;
}

.content {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.placeholder {
  width: 0;
  transition: all 300ms;
}

.isOpen {
  width: 300px;
}

