.item {
  flex: 1;
  position: relative;
  left: 0;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

.start {
  left: -100%;
}

.active {
  left: 0;
  transition: left 800ms;
}

.end {
  left: 100%;
  transition: left 800ms;
}

.group {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.flex {
  flex: 1;
  display: flex;
  flex-direction: column;
}
