.item {
  width: 100%;
  display: flex;
  position: relative;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  align-items: stretch;

  background: #f1f1f1;
  color: #6a7483;
  font-weight: 600;
  height: 100%;
  overflow: hidden;
}

.item:hover {
  background: #fff;
  color: #232f42;
}

.title {
  padding: 14px 16px;
  flex: 1;

  @media (max-width: 390px) {
    padding: 20px 16px;
    font-size: 16px;
  }
}

.menu {
}

.wrap {
  position: fixed;
  top: var(--y);
  left: var(--x);
  z-index: 200;
  display: flex;
}

.placeholder {
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: red;
}

.wrap-enter {
  top: var(--y);
  left: 0;
  z-index: 0;
}
.wrap-enter-active {
  top: var(--y);
  left: var(--x);
  transition: left 300ms;
  z-index: 0;
}
.wrap-exit {
  top: var(--y);
  left: var(--x);
  z-index: 0;
}
.wrap-exit-active {
  top: var(--y);
  left: 0;
  z-index: 0;
  transition: left 300ms;
}

.open {
  top: var(--y);
  left: var(--x);
}

.menu {
  display: flex;
  height: 50px;
  border-left: solid 1px #d0d7de;
}

.hoverBox {
  position: relative;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background: green;
}

.active {
  background: #ffff;
  color: var(--color-active) !important;
  box-shadow: none !important;
  border-left: solid 4px var(--color-active) !important;
}
