.button {
  height: 100%;
  border-radius: 0;
}

.list {
  cursor: pointer;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: eaeaea orange;
  scrollbar-width: thin;
  background: #f3f4f6f4;
}

.group {
  box-shadow: 0px -15px 15px 11px black;
  background:#f2f2f2;
}
