.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(244, 244, 244, 0.9568627451);
  padding: 12px 16px;
}

.close {
  margin-left: auto;
  display: none;

  @media (max-width: 390px) {
    display: initial;
  }
}
