.title {
  margin: 16px 0px;
}

.wrap {
  padding: 20px 40px;
}
.button {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px 5px;
  cursor: pointer;
  border: none;
}

.icons {
  display: flex;
  justify-content: center;
  margin: 24px 0px;
}

.icon {
  cursor: pointer;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #f4f4f4;
}

.icon:hover {
  border: solid 2px rgb(149, 149, 149);
  border-radius: 10px;
}
