%wrap {
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  display: flex;
  flex-direction: column;

  @media (max-width: 400px) {
    width: 390px;
  }
}

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: solid 1px #d0d7de;
}

.left-wrap {
  @extend %wrap;
  left: 0;
}

.left-start {
  left: -390px;
}

.left-active {
  left: 0;
  transition: left 300ms;
}

.left-end {
  left: -390px;
  transition: left 300ms;
}

.right-wrap {
  @extend %wrap;
  right: 0;
}

.right-start {
  right: -390px;
}

.right-active {
  right: 0;
  transition: right 300ms;
}

.right-end {
  right: -390px;
  transition: right 300ms;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fb4b4d;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
