.menu {
  display: flex;
  height: 50px;
  position: absolute;
  right: 0;
  // box-shadow: 0px 0px 20px 5px #989898;
  box-shadow: -65px 0px 52px 0px #fff;
  // border-left: 1px solid var(--color-border);
  // border-top: 1px solid var(--color-border);
  // border-bottom: 1px solid var(--color-border);

  .button {
    width: 100%;
    display: block;
    box-shadow: none;
    transition: none;
    border: none;
    border-radius: 0;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #222a38;
    background: #dfdfdf;
  }

  .button:hover {
    background: #e7e7e7;
    color: black;
    box-shadow: none;
    border: none;
    transition: none;
  }

  .danger {
    background: #f44336;
    color: #fff;
  }

  .danger:hover {
    background: #ff5555;
    color: #fff;
  }
}

.entering {
  right: -300px;
}
.entered {
  right: 0;
  transition: right 150ms ease-in-out;
}
.exiting {
  right: 0;
}
.exited {
  right: -300px;
  transition: right 150ms ease-in-out;
}
