.modal {
  display: block;
  width: 400px;
  text-align: center;
  border: solid 1px rgb(176, 176, 176);
  background-color: #f4f4f4;
}

.сlose {
  position: absolute;
  right: 0;
  top: 0;
  border: white;
  background: rgb(176, 176, 176);
  color: white;
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: 0.5s;
}

.button {
  border: none;
  background: #fb4b4d;
  color: white;
  height: 25px;
  width: 60px;
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background: white;
  border: solid 1px #fb4b4d;
  border-radius: 7px;
  color: #fb4b4d;
}



.wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
  z-index: var(--portal);
}

.start {
  transform: scale(0.5) translate(-50%, -50%);
  opacity: 0;
}

.active {
  transition: transform 300ms, opacity 300ms;
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}

.end {
  transition: transform 300ms, opacity 300ms;
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);
}
