.editor {
    flex: 1;
}

.panel {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 0;
}

.title {
    margin-right: auto;
}

.buttons {
    // padding: 0 30px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.input {
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 30px;
    padding: 0 10px;
    outline: none;
    width: 100%;
    max-width: 50%;
    margin-right: auto;
}