.button {
  cursor: pointer;

  display: inline-block;

  color: #6a7483;

  width: auto;

  font-weight: 600;
  text-decoration: none;
  background: #f1f1f1;
  border-radius: 4px;
  border: 2px solid #f1f1f1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out 0s;
}

.button:hover {
  background: #fff;
  color: #232f42;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #fff;
  transition: all 0.5s ease-in-out 0s;
}

.s {
  height: 24px;
  line-height: 1.57;
  padding: 0 7px;
  font-size: 14px;
}

.m {
  height: 32px;
  line-height: 1.57;
  padding: 4px 15px;
  font-size: 14px;
}

.xl {
  height: 40px;
  line-height: 1.5;
  font-size: 16px;
  padding: 7px 15px;
}
