.header {
  width: 100%;
  border-bottom: solid 1px var(--color-border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 1s;
  padding: 12px 16px;
  padding-left: 0;
  gap: 16px;
  background: #f3f4f6;
}

.placeholder {
  width: 0;
  flex: 0 0;
  height: 100%;
  transition: all 300ms;
}

.isOpen {
  flex: 0 0 210px;
}

.flex {
  flex: 1;
  display: flex;
}

.menu {
  margin-left: 8px;
}

.new {
  margin-right: auto;
}
