.search {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #f3f4f6;
  margin: 0 auto;
  width: 100%;
}

.item {
  padding: 8px;
}

.dropdown {
  height: 200px;
  overflow: auto;
  width: 100%;
  position: absolute;
  top: 50px;
  background: #fff;
  border: solid 1px #eee;
}

.inputBox {
  position: relative;
  width: 100%;
}

.input {
  font-size: 18px;
  padding-left: 8px;
  outline: none;
  color: #333;
  width: 100%;
  border-radius: 0.2rem;
  padding: 8px 10px;
  border: none;
}

.close {
  position: absolute;
  right: 10px;
  top: 0;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 21px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}